<launch>
  <node name="donbe_stability_detector"
        pkg="stability_detector" type="stability_detector.py"
        output="screen" >
    <remap from="~input_rect" to="/ssd_object_detector/output/rect" />
    <remap from="~input_class" to="/ssd_object_detector/output/class" />
  </node>
</launch>
